echo "# Python cache
__pycache__/
*.pyc
.python-version

# Virtual environment
podcast-nv/

assets/transcripts/*.txt
assets/summaries/*.txt
.cache

# API keys
.env
*.key

# IDE
.vscode/
.idea/

# Large files
*.mp3
*.mp4
*.jpg
*.gguf
*.srt" > .gitignore